body{
    margin:30px 40px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:2em;
}
@media screen and (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* /* 
@media screen and (max-width: 992px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}  */
.view{
    width:200px;
    text-align: center;
    color:indigo;
    text-decoration: none;
}

img{
    border-radius: 15px;
    border:2px solid black;
    width:100%;
    transition: transform 1s;
}
img:hover{
    transform: scale(1.2)  ;
    background-color: rgba(0,0,0,0.9);
}
